@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html{
    height: 100%;
}


header {
    background-color: #333;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    padding:.35rem;
}

nav {
    grid-column: 1;
    display: flex;
    justify-content: start;

    margin-left: 1rem;
    gap: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color:rgb(82, 127, 194);
    text-decoration: underline;
}

a:active {
    color: rgb(150, 204, 242);
    text-decoration: underline;
}


header h1 {
    grid-column: 2;
    text-align: center;
    -webkit-text-stroke: 1px rgb(6, 4, 145);
    font-weight: bold;
}

#leaveGameButton {
    grid-column: 1;
    justify-self: start;
    margin-left: 1rem;
}





body {
    color: white;
    font-family: 'Orbitron', sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background:
        linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.85)),
        url("images/ocean.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.welcome h2{
    text-align: center;
    margin: 2rem 0 1rem 0;

    font-size: 3rem;
    font-weight: bold;

    color: rgb(6, 4, 145);
}
.welcome p{
    text-align: center;
    font-size: 1rem;

    margin: 0 0 2rem 0;
    letter-spacing: -.1px;

}

.how-to-play {
    text-align: center;
    margin: 2rem 0;
}
.login {
    text-align: center;
    margin: 2rem 0;
}





footer {
    background-color: #212121;
    color: white;
    font-size: 0.7rem;
}

footer div {
    display: flex;
}

footer div p {
    margin: .2rem;
    margin-left: .5rem;
}